<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список дел</title>
    <script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro'>
</head>

<body>
    <div class="app" id="app">
        <form class="form" v-on:submit="addTodo">
            <input class="input form__input" v-model="inputVal" />
            <button class="btn form__submit-btn" type="submit">добавить</button>
        </form>
        <transition-group tag="ol" name="list" class="todo-list">
            <li class="todo-list__item" v-bind:class="{ complete: todo.complete }" v-bind:key="index"
                v-for="(todo, index) in filteredTodos">
                <button class="todo-list__item-content" v-on:click="toggleTodo(todo)">
                    {{ todo.text }}
                </button>
                <button class="btn todo-list__item-remove" v-on:click="deleteTodo(index)">
                    <i class="fa" v-bind:class="[todo.complete ? 'fa-check' : 'fa-times']"></i>
                </button>
            </li>
        </transition-group>
        <div class="filters">
            <button class="btn filters__btn filters__btn--all" v-on:click="filterTodos('all')">
                все
            </button>
            <button class="btn filters__btn filters__btn--complete" v-on:click="filterTodos('complete')">
                выполнено
            </button>
            <button class="btn filters__btn filters__btn--incomplete" v-on:click="filterTodos('incomplete')">
                невыполнено
            </button>
        </div>
    </div>
    <script src="./app.js"></script>
</body>

</html>